.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height:1px;
    padding-left:13px;
    padding-right:13px;
    position:relative;
}

/* Tabs panel */
.tabbable-panel {
    border:1px solid #eee;
    padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
}
.tabbable-line > .nav-tabs > li {
    margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
    font-weight: bold;
}
.tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
    border-bottom: 5px solid #FE980F;
    position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
    background: #fff !important;
}
.tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
}
.tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
    border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
    margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
    border-bottom: 0;
    border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
    margin-bottom: -2px;
    border-bottom: 0;
    border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
    margin-top: -10px;
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.well {
    background-color:#FFFFFF;
    border:1px solid #eeeeee;
    border-radius:0;
    box-shadow:none;
    margin-bottom:20px;
    min-height:20px;
    padding:35px;
}

hr {
    border-top-color:#EEEEEE;
    border-top-style:solid;
    border-width:1px 0 0;
    margin-bottom:7px;
    margin-top:14px;
}

#image-preview {
    background-color:#FFFFFF;
    color:#ECF0F1;
    height:100px;
    overflow:hidden;
    position:relative;
    width:100px;
}
#image-preview input {
    line-height: 200px;
    font-size: 200px;
    position: absolute;
    opacity: 0;
    z-index: 10;
}

#image-preview label {
    background-color:#BDC3C7;
    bottom:0;
    cursor:pointer;
    font-size:11px;
    height:32px;
    left:0;
    line-height:23px;
    margin:auto;
    opacity:0.3;
    position:absolute;
    right:0;
    text-align:center;
    text-transform:uppercase;
    top:-68px;
    width:100px;
    padding-top: 5px;
    z-index:5;
}

.form-control {
    -webkit-box-shadow:rgba(0, 0, 0, 0.0745098) 0 0 0 inset;
    -webkit-transition:border-color 0ms ease-in-out, box-shadow 0s ease-in-out;
    background-color:#FFFFFF;
    background-image:none;
    border:1px solid #DDDDDD;
    border-radius:0;
    box-shadow:rgba(0, 0, 0, 0.0745098) 0 0 0 inset;
    color:#555555;
    display:block;
    font-size:14px;
    height:34px;
    line-height:1.428571429;
    padding:6px 12px;
    transition:border-color 0ms ease-in-out, box-shadow 0s ease-in-out;
    vertical-align:middle;
    width:100%;
}
input {
    border:1px solid #DDDDDD !important;
}